DATABASE_URL="postgresql://postgres.mmkubokxzjntldexeftk:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.mmkubokxzjntldexeftk:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
NINEROUTER_URL="https://9router.riztama.my.id/v1"
NINEROUTER_KEY=""
NINEROUTER_MODEL="openai/gpt-5"
